 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
 }
 body{
    padding-top :8%;
    display: flex;
   
    justify-content: center;

    background:#19223c ;


 }
 .div-hero{
    
    height: 65vh;
    width: 600px;
    background: #d14d9e;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    
 }
 .div-hero h1{
    margin-bottom: 100px;
    color: #67e61d;
    font-size: 50px;
    text-shadow: 4px 5px 3px red;
 }
 .div-hero a{
    background: #25E51E;
    width: 130px;
    height: 45px;
    font: 1em sans-serif;
   font-size: large;
   list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
 }

 .divo-hero{
    height: 65vh;
    width: 600px;
   border: 2px solid red;
   background: #1cedfbfd;
   border-radius: 12px;
   display:grid;
   align-items: center;
   justify-content: center;  
 }
 .divo-hero h1{
    color: #1c176a;
    font-size: 25px;
    text-shadow: 3px 3px 4px rgb(173, 13, 125);
 }
  .inputt {
   
   padding:20px;
   display: flex;
   flex-direction: column;
   gap: 1rem; 
   background:rgb(154, 247, 255);
   border-radius: 12px;
   /* display: grid;
   grid-template-rows: repeat(4,30px); */
  }
  .inputt label{
   color: #1c0698;
   font: 1em sans-serif;
   font-style:italic;
  }
.div-button{
   display: flex;
   justify-content: space-evenly;
   gap: 220px;

}
#Button-suivant{
     background: #25E51E;
    width: 130px;
    height: 45px;
    border-radius: 12px;
}
#Button-precedant{
      background: #25E51E;
    width: 130px;
    height: 45px;
    border-radius: 12px;
}