 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
 }
 body{
    padding-top :8%;
    display: flex;
   flex-direction: column;
    justify-content:center;
   align-items: center;

    background:#19223c ;


 }
 .div-hero{
    
    height: 65vh;
    width: 600px;
    background: #cbdbdcfd;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    
 }
 .div-hero h1{
    margin-bottom: 100px;
    color: #659b1b;
    font-size: 50px;
    text-shadow: 4px 5px 3px rgb(129, 247, 74);
 }
 .div-hero a{
    background: #25E51E;
    width: 130px;
    height: 45px;
    font: 1em sans-serif;
   font-size: large;
   list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
 }
 .div-hero a:hover{
   border: 3px solid rgb(37, 123, 31);
   background: #27f7f7;
   box-shadow: 0 0 30px rgb(37, 123, 31);
 }

 .divo-hero{
    height: 65vh;
    width: 600px;
   border: 2px solid red;
   background: #cbdbdcfd;
   border-radius: 12px;
   display:grid;
   align-items: center;
   justify-content: center;  
 }
 .divo-hero h1{
    color: #1c176a;
    font-size: 25px;
    text-shadow: 3px 3px 4px rgb(173, 13, 125);
 }
  .inputt {
   
   padding:20px;
   display: flex;
   flex-direction: column;
   gap: 1rem; 
   background:rgba(189, 191, 208, 0.993);
   border-radius: 12px;
   /* display: grid;
   grid-template-rows: repeat(4,30px); */
  }
  .inputt label{
   color: #1a1822;
   font-family: Arial black;
   font-style:italic;
  }
  .inputt div{
   border: 2px solid ;
   height: 35px;
   border-radius: 10px;
   display: flex;
   align-items: center;
  }
.div-button{
   display: flex;
   justify-content: space-evenly;
   gap: 220px;

}
#Button-suivant{
     background: #25E51E;
    width: 130px;
    height: 45px;
    border-radius: 12px;
}
#Button-precedant{
      background: #25E51E;
    width: 130px;
    height: 45px;
    border-radius: 12px;
}
#deuxeme-Section{
   margin:  60px;
   background: #b8d9e6;
   /* height: 200vh; */
   width: 600px;
   border: 2px solid rgb(254, 7, 7);
   border-radius: 10px;
}
.div-affichage{
   
   padding:20px;
   display: flex;
   flex-direction: column;
   gap: 1rem; 
  
   /* display: grid;
   grid-template-rows: repeat(4,30px); */
  }
.div-affichage h3{
   border: 2px solid rgb(36, 43, 165);
   border-radius: 6px;
}
